*, *::before, *::after {
  margin: 0;
  padding: 0;

  transition: all 0.3s;
  /* debugging  */
  /* border: 1px solid red; */
  
  /* Default Font  */
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.App {
font-family: sans-serif;
text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

section {
display: grid;
place-items: center;
height: 100vh;
font-size: 32px;
font-weight: bold;
}